.header {
  width: 100%;
  height: 65px;
  margin-bottom: 7px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.innerheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 5px;
  background-color: #fff;
}

.innerheaderleft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.innerheaderleft h2 {
  font-family: ABeeZee, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
}

.icon {
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease-in-out;
}

.icon:hover {
  color: #333;
}

.innerheaderright {
  display: flex;
  align-items: center;
  gap: 15px;
}

.innerheaderrightbutton {
  display: flex;
}

.deposit {
  width: 100px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.notification {
  position: relative;
  cursor: pointer;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:  #e84351;
  position: absolute;
  top: 3px;
  right: 0;
}

/* Mobile Menu */
.mobilemenu {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(136, 136, 136, 0.1);
  list-style: none;
  padding: 10px;
  position: absolute;
  top: -400px;
  transition: top 0.5s ease-in-out;
  z-index: -2;
}

.showmenu {
  top: 65px; /* match header height */
  z-index: 5;
}

.mobilemenu .item {
  padding: 12px 5px;
  border-bottom: 1px solid rgb(240, 240, 240);
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.mobilemenu .item:hover {
  background-color: rgb(250, 250, 250);
  color: #5c5c5c;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .innerheaderrightbutton {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .innerheaderleft h2 {
    font-size: 1.4rem;
  }

  .innerheaderright {
    gap: 10px;
  }

  .mobilemenu {
    display: block;
  }
}

